<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alternatív Oktatási Rangsor App</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8" />
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body class="container-fluid">
    <p> </p>
    <div class="container">
        <form action="#" th:action="@{/}" method="get">
            <input class="btn btn-default" type="submit" value="Vissza a kezdőoldalra"/>
        </form>
    </div>
    <div class="container">
        <h1>Adatlap </h1>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table style="width:100%" class="table table-hover">
                <thead>
                    <tr>
                        <th>Iskola</th>
                        <th>Település</th>
                        <th>Év</th>
                        <th>Mat fejl átlag</th>
                        <th>Szöv fejl atlag</th>
                        <th>Mat fejl al csh</th>
                        <th>Szöv fejl al csh</th>
                        <th>Mat fejl mag csh</th>
                        <th>Szöv fejl mag csh</th>
                        <th>Kitöltők </th>
                        <th>Kitöltők al csh</th>
                        <th>Kitöltők mag csh</th>
                        <th>Családiháttér átlag</th>
                        <th>Családiháttér variancia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="school:${schools}">
                        <td th:text="${school.iskolaNeve}" />
                        <td th:text="${school.telepules}" />
                        <td th:text="${school.ev}" />
                        <td th:text="${school.matekFejlAtl}" />
                        <td th:text="${school.szovegFejlAtl}" />
                        <td th:text="${school.matekFejlAlCsh}" />
                        <td th:text="${school.szovegFejlAlCsh}" />
                        <td th:text="${school.matekFejlMagCsh}" />
                        <td th:text="${school.szovegFejlMagCsh}" />
                        <td th:text="${school.kitoltok}" />
                        <td th:text="${school.kitoltokAlCsh}" />
                        <td th:text="${school.kitoltokMagCsh}" />
                        <td th:text="${school.csaladiAtl}" />
                        <td th:text="${school.csaladiVar}" />
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>